
<div class="lead">
  <ul>
  	<%=link_to "Make a New Story", new_project_path, {"title"=>"Make your fantasy!", "data-placement"=>"right"}%>
  </ul>
  <ul>
  	<%=link_to "Play a Story", projects_path, {"title"=>"See what others have created!", "data-placement"=>"right"}%>
  </ul>
</div>
