html.normal { 
  background: url(/images/festival.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}
#wrapper {
  position:absolute;
  height:100%;
  width:100%;
}
#wrapper img {
  height:100%;
}

.homepage .container-narrow {
  width:30%;
  margin: 0 20%;
  float:right;
  font-family:monospace;
  padding:0;
}
a {
    text-decoration:underline;
}
a.btn {
    text-decoration:none;
}
body {
  background:transparent;
}
html.player body {
  background-color:black;
  padding:0;
  margin:0;
  height:100%;
  color:white;
}
html.player body .container-narrow {
  background-color:black;
  padding:0px;
  border:0;
  box-shadow:none;
}
.navbar .nav {
    display: table;
    margin: 0;
    width: 100%;

}
.navbar {
/*    -moz-box-shadow: -5px 10px 10px 5px gray;
    -webkit-box-shadow: -5px 10px 10px 5px gray;
    box-shadow: -0 5px 10px 0 gray;*/
    background: -webkit-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 21px, #6A6A6A 1px, #EDEDED, #EDEDED 23px);
    box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);

}
h1, h2, h3 {
  font-family: monospace;
}
.no-monospace {
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

li.span2, li.span3 {
  position:relative;
}
.breadcrumb {
  background: transparent;
  margin:0;
  border:0;
}
.container-narrow {
    background-color:white;
    margin: 0 auto 20px;
    max-width: 800px;
/*    border-radius: 10px;
    border:1px solid #e5e5e5;
    -moz-box-shadow: -5px 10px 10px 5px gray;
    -webkit-box-shadow: -5px 10px 10px 5px gray;
    box-shadow: -5px 10px 10px 5px gray; */
    padding: 19px 29px 29px;

    background: -webkit-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 21px, #6A6A6A 1px, #EDEDED, #EDEDED 23px);
    border-radius: 5px;
    box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);


}
.scene-editor .container-narrow {
  max-width:1000px;
}
.jumbotron {
    text-align: center;
    /*position:absolute; */
}
.form-signin {
  
    margin: 0 auto;
    max-width: 300px;
    padding: 19px 29px 29px;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
  text-align:left;
}
.form-signin input[type="text"], .form-signin input[type="password"], .form-signin input[type="email"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin p {
  margin: 20px 0 0;
}
.lead {
    font-size: 21px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 20px;
}
.romantic-font {
font-family: 'Great Vibes', cursive;
font-size:120%;
font-weight:normal;
}
.character-index input.checkbox {
  float:none; margin-bottom:5px
}
.character-index input.name {
    margin-bottom:0;
}
.black {
    background-color:black;
}
.clear {
    clear:both;
}
.mini-viewer {
  width:608px;
  font-family:monospace;
  color:white;
}
#scene-editor .mini-editor, .viewer {
    position:relative;
}
.viewer {
  height:600px;
  width:800px;
  cursor:pointer;
  margin: 0 auto;
  font-family:monospace;
  color:white;
}
/*#scene-editor .mini-viewer img.bg{
  height:480px;
  width:640px;
}*/
/*.viewer img.bg{
  height:480px;
  width:640px;
  top:0;
  left:0;
  position:absolute;

}*/
#scene-editor table.action-items {
    margin: 0 0 10px 0;
    font-size: 90%;
}
#scene-editor table.action-items td {
    padding: 0 5px;
}
#scene-editor .script {
    width:375px;
}
.script-holder {
    max-height:300px;
    overflow-y:auto;
}
#scene-editor .script hr {
    margin: 5px 0 5px;
}
#scene-editor .script .more {
  text-align:center;
}
#scene-editor .script .more a{
  margin-bottom:5px;
}
#scene-editor .overlay-topper {
    position:absolute;
    background-image:url("/images/overlay_50.png");
    height:20px;
    width:588px;
    top:0;
    left:0;
    text-align:left;
    color:white;
    padding:10px;
}

#scene-editor .overlay-topper a {
 
    float:right;
}
#scene-editor .overlay{
    position:absolute;
    background-image:url("/images/overlay_50.png");
    height:416px;
    width:100%;
    top:40px;
    left:0;
    overflow-y:auto;
    color:white;
}
#scene-editor .bg-image img {
    display:block;
    height:100px;
    width:100px;
}
#scene-editor .poses img {
    display:block;
}
#scene-editor form {
  margin: 0;
  display:inline;
}
#scene-editor tr.selected {
  background-color:#DFF0D8;
}
#scene-editor .table-hover tr.selected:hover > td {
  background-color:#DFF0D8;
}
#scene-editor .music a.submitable {
  color:white;
}
#scene-editor .overlay a.thumbnail {
    border:0;
    cursor:pointer;
    color:white;
}
#scene-editor .music .thumbnail {
/*  border:0;*/
font-size:90%;
height:66px;
margin-bottom:20px;
}
#scene-editor .music ul {
    margin: 20px 0 0 0;
}
.characters {
  position:absolute;
  top:0;
  left:0;
}
.glass {
    position:absolute;
    top:0px;
    left:0;
}
li.span2 .textarea, li.span3 .textarea {
    font-family:monospace;
    font-size:25%;
    margin: 0;
    background-color:transparent;
    color:white;
    overflow-y:hidden;
    position:absolute;

    text-align:left;
    top:60%;
    width:80%;
    left:8%;
    height:18%;
    line-height:80%;
}
.mini-viewer textarea, .mini-viewer .textarea, .viewer .textarea {
    font-family:monospace;
    font-size:105%;
    margin: 0;
    background-color:transparent;
    color:white;
    overflow-y:hidden;
    position:absolute;
    text-shadow: 1px 1px 0px #444;
    text-align:left;
    /* for 640 x 480 use these */
/*    font-size:110%;
    top:357px;
    width:530px;
    max-width:530px;
    left:45px;
    height:80px;
    max-height:80px;*/
}
.mini-viewer textarea, .mini-viewer .textarea {
    font-size:105%;
    top:339px;
    width:503px;
    max-width:503px;
    left:43px;
    height:80px;
    max-height:80px;
    
}
.viewer .textarea {
    top:446px;
    width:662px;
    max-width:662px;
    left:56px;
    height:100px;
    max-height:100px;
    font-size:125%;
}
.textarea, .script .detail {
  white-space:pre-wrap;
  word-wrap:break-word;
}
.speaker {
    position:absolute;
    text-shadow: 1px 1px 1px #000;
    /* for 640 x 480 screen */
    /* top: 325px, left: 55px */
}
li.span2 .speaker,li.span3 .speaker {
  position: absolute;
  top:50%;
  left: 8%;
  font-size:26%;
  color:white;
  width:80%;
  height:10%;
  text-align:left;
}
.mini-viewer .speaker {
    top:309px;
    left:52px;
}
.viewer .glassbox .speaker {
    font-size:125%;
    top:408px;
    left:69px;


}
textarea {
  resize:none;
}
textarea[disabled], input[disabled] {
    border:0;
}
.mini-viewer .textarea {
    font-size: 95%;
}
i.thought {
    font-style:normal;
    color:#0088CC;
}
.mini-viewer i.thought {
    color:lightblue;
}
table.action-items td{
    vertical-align:middle;
}
#scene-editor table.action-items td.btn {
    width:90%;
    white-space:nowrap;
} 
#scene-editor table.action-items td.icon {
    border:0;
    padding:0;
}
ul.graphic li a.silence {
  background:transparent;
  }
body #sm2-container object,
body #sm2-container embed {
 /*
  flashblock handling: hide SWF off-screen by default (until blocked timeout case.)
  include body prefix to ensure override of flashblock.css.
 */

 left:-9999em;
 top:-9999em;
}
p.share {
  display:none;
}
form.edit_project td.attr {
  text-align:right;
  vertical-align:middle;
  padding-right:0;
}
#project_basename {
  margin-bottom:0;
}
form.edit_project .table td {
  border:0;
}
form.edit_project input[type="radio"] {
  float:left;
  margin: 5px 10px 0;
  }
.script .jump-to {
  cursor:pointer;
}
#disqus-comments {
  min-height: 408px;
  padding-top:20px;
}
#disqus-comments h2 {
  color:gray;
}
.carousel-control {
  text-decoration:none;
}
.backlink {
  display:block;

  position:absolute;
  right:0;
  top:50px;
  width:80px;
  color:black;
  font-size: 14px;
  text-decoration:none;
  left:-20px;
  font-weight:normal;
  text-decoration:none;
}
  #title {
    width: 800px;
    height: 600px;
    position: relative;
  }
  #title-wrapper > #title {
    display: table;
    position: static;
  }
  #title div {
    position: absolute;
    top: 50%;
  }
  #title div div {
    position: relative;
    top: -50%;
  }
  #title > div {
    display: table-cell;
    vertical-align: middle;
    position: static;
  }
#volume-control-slider {
  display:inline-block;
  margin-left:0;
  top:3px;
}
.action-items img {
  height:56px;
}
.viewer img.character2 {
  margin-left:400px;
  clip:rect(0 400px 600px 0px);
}
.mini-viewer img.character2 {
  margin-left:304px;
  clip:rect(0 304px 456px 0px);
}
li .characters {
  left:5px;
  top:5px;
  }