a {
    text-decoration:underline;
}
a.btn {
    text-decoration:none;
}
.navbar .nav {
    display: table;
    margin: 0;
    width: 100%;
}
.navbar .nav li {
    display: table-cell;
    float: none;
    width: 1%;
}
.navbar .nav li a {
    border-left: 1px solid rgba(255, 255, 255, 0.75);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: bold;
    text-align: center;
}
.container-narrow {
    margin: 0 auto;
    max-width: 900px;
}
.jumbotron {
    text-align: center;
    /*position:absolute; */
}
.lead {
    font-size: 21px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 20px;
}
.character-index input.checkbox {
  float:none; margin-bottom:5px
}
.character-index input.name {
    margin-bottom:0;
}
.black {
    background-color:gray;
}
.clear {
    clear:both;
}
.scene-editor .mini-editor, .viewer {
    position:relative;
}
.viewer {
  display:block;
  height:480px;
  width:640px;
  cursor:pointer;
}
.scene-editor .mini-viewer img.bg{
  height:480px;
  width:640px;
}
.viewer img.bg{
  height:480px;
  width:640px;
  top:0;
  left:0;
  position:absolute;

}
.scene-editor table.action-items {
    margin: 0 0 10px 0;
    font-size: 90%;
}
.scene-editor table.action-items td {
    padding: 0 5px;
}
.scene-editor .script {
    width:375px;
}
.script-holder {
    max-height:300px;
    overflow-y:auto;
}
.scene-editor .script hr {
    margin: 5px 0 5px;
}
.scene-editor .script .more {
  text-align:center;
}
.scene-editor .script .more a{
  margin-bottom:5px;
}
.scene-editor .overlay-topper {
    position:absolute;
    background-image:url("/images/overlay_50.png");
    height:20px;
    width:620px;
    top:0;
    left:0;
    text-align:left;
    color:white;
    padding:10px;
}

.scene-editor .overlay-topper a {
 
    float:right;
}
.scene-editor .overlay{
    position:absolute;
    background-image:url("/images/overlay_50.png");
    height:440px;
    width:640px;
    top:40px;
    left:0;
    overflow-y:auto;
    color:white;
}
.scene-editor .bg-image img {
    display:block;
    height:100px;
    width:100px;
}
.scene-editor .poses img {
    display:block;
}
.scene-editor form {
  margin: 0;
}
.scene-editor tr.selected {
  background-color:#DFF0D8;
}
.scene-editor .table-hover tr.selected:hover > td {
  background-color:#DFF0D8;
}
.scene-editor .music a.submitable {
  color:white;
}
.scene-editor .overlay a.thumbnail {
    border:0;
    cursor:pointer;
    color:white;
}
.scene-editor .music .thumbnail {
/*  border:0;*/
font-size:90%;
height:66px;
margin-bottom:20px;
}
.scene-editor .music ul {
    margin: 20px 0 0 0;
}
.mini-viewer .characters {
  position:absolute;
  top:0;
  left:0;
}

.mini-viewer .controls a {
    margin-top: 455px;
}
.mini-viewer .glassbox {
    position:absolute;
    height:480px;
    width:640px;
    top:0px;
    left:0;
    background: url('/images/glassbox_small.png');
    font-family:monospace;
    color:white;
}
.mini-viewer .glassbox.narration {
    background: url('/images/glassbox_small_n.png');
}
.mini-viewer .glassbox textarea, .mini-viewer .glassbox .textarea {
    font-family:monospace;
    font-size:110%;
    top:357px;
    width:530px;
    max-width:530px;
    left:45px;
    height:80px;
    max-height:80px;
    margin: 0;
    background-color:transparent;
    color:white;
    overflow-y:hidden;
    position:absolute;
    text-shadow: 1px 1px 0px #444;
}
.glassbox .textarea, .script .detail {
  white-space:pre-wrap;
  word-wrap:break-word;
}
.mini-viewer .glassbox .speaker {
    position:absolute;
    top:325px;
    left:55px;
    text-shadow: 1px 1px 1px #000;
}
textarea {
  resize:none;
}
textarea[disabled], input[disabled] {
    border:0;
}
.mini-viewer .glassbox .textarea {
    font-size: 100%;
    text-align:left;
}
i.thought {
    font-style:normal;
    color:#0088CC;
}
.glassbox i.thought {
    color:lightblue;
}
table.action-items td{
    vertical-align:middle;
}
.scene-editor table.action-items td.btn {
    width:90%;
    white-space:nowrap;
} 
.scene-editor table.action-items td.icon {
    border:0;
    padding:0;
}
