<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @scene.project_id %>
</p>

<p>
  <b>Order index:</b>
  <%= @scene.order_index %>
</p>

<p>
  <b>Custom description:</b>
  <%= @scene.custom_description %>
</p>

