<h2>Choose a title for your story</h2>

<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <input name="project[title]" type="text" class="" placeholder="Dream Date">
  <div class="actions">
    <%if has_adult_cookie?%>
      <button class="btn btn-primary submitable">GO</button>
    <%else%>
      <br/><p>Also, you have to be at least 18 years old to use this website.</p>
      <p><button class="btn btn-primary submitable">I'm 18 or older</button></p>
      <a href="/" class="btn btn-small">I'm not</a>
    <%end%>
  </div>
<% end %>