<!DOCTYPE html>
<html>
<head>
  <title>Datingsim</title>
  <%= stylesheet_link_tag "bootstrap.css","flashblock","application", :media => "all" %>
  <%= javascript_include_tag "jquery","bootstrap.js","jquery.effects.core", "jquery.effects.slide","slide","soundmanager2/soundmanager2","popups","application","viewer" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
</head>
<body class="black">

<div class="">
  <div class="jumbotron">
  <%= yield %>
  </div>
</div>

 <div id="sm2-container">
  <!-- SM2 flash goes here -->

 </div>
 <div class="hide"></div>
</body>
</html>
